.btn {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: transparent;
  }
}

.gifPickerPopover {
  :global(.MuiPaper-root) {
    width: 216px;
    height: 238px;
    padding: 20px 0 14px 0;
  }

  .searchInput {
    margin: 0 14px;
  }

  .gifList {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    max-height: 160px;
    overflow-y: auto;
    margin-top: 8px;

    .gifList_item {
      cursor: pointer;
      width: 70px;
      height: 70px;
    }
  }
}