.message {
  display: flex;
  align-items: center;
  margin-top: 20px;

  &.isAuthor {
    justify-content: flex-end;

    .messageBlock {
      background: $blue-bg;
    }
  }

  .messageBlock {
    margin-left: 16px;
    border-radius: 10px 10px 0 10px;
    padding: 10px;
    background: $secondary-bg;
    min-width: 264px;
    max-width: 400px;

    .messageBlock_header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header_fio {
        font-size: 14px;
        font-family: $font-medium;
      }

      .header_date {
        font-size: 10px;
        opacity: 0.5;
        margin-left: 20px;
      }
    }

    .text {
      margin-top: 4px;
    }
  }
}