.avatarContainer {
  position: relative;
  .avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: $primary-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $orange-1;
    flex-shrink: 0;
    overflow: hidden;

    &.cursor {
      cursor: pointer;
    }

    .avatarImg {
      object-fit: cover;
      width: 100%;
      height: 100%;

      &.template {
        width: 25px;
        height: 32px;
      }
    }
  }

  .status {
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid $primary-bg;
    background: $orange-1;
    bottom: 0;
    right: 6px;
  }
}