//шрифты
$font-regular: 'Nunito-Regular';
$font-medium: 'Nunito-Medium';

//палитра
$text-default: #3a3a3a;
$text-primary: #FFFF;
$text-secondary: #c4c4c4;
$text-tr: #e7e7e7;

$main-bg: #f1f1f1;
$primary-bg: #FFFF;
$secondary-bg: #f5f5f5;
$blue-bg: #0000ff1a;

$orange-1: #ed7117;
$orange-2: rgba(199, 88, 8, 0.45);

$scrollbar-bg: #d7d7d7;