//шрифты
$font-regular: 'Nunito-Regular';
$font-medium: 'Nunito-Medium';

//палитра
$text-default: #3a3a3a;
$text-primary: #FFFF;

$main-bg: #f1f1f1;
$primary-bg: #FFFF;
$secondary-bg: #f5f5f5;

$orange-1: #ed7117;
$orange-2: rgba(199, 88, 8, 0.45);


$navMenuLink: #606060;
$navMenuLink__hover: #000000;