.btn {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: transparent;
  }
}

.emojiPickerPopover {
  :global(.MuiPaper-root) {
    padding: 20px 14px 14px 14px;
    width: 216px;
    height: 238px;
  }

  .emojiList {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    max-height: 160px;
    overflow-y: auto;
    margin-top: 8px;

    .emojiList_item {
      cursor: pointer;
    }
  }
}