.chat {
  width: 100%;

  .logoContainer {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 12px;

    .logoContainer_logo {
      width: 19px;
      height: 19px;
    }

    .logoContainer_text {
      font-size: 14px;
    }
  }

  .content {
    border: 1px solid $orange-1;
    height: 400px;
    border-radius: 0 0 6px 6px;
    padding: 10px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: auto;
    scrollbar-width: thin;
    transition: scrollbar-color .3s ease;
    -webkit-overflow-scrolling: touch;
    scrollbar-color: $scrollbar-bg transparent;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: $primary-bg;
      border-radius: 4px;
    }

    // Бегунок
    &::-webkit-scrollbar-thumb {
      background: $scrollbar-bg;
      border-radius: 4px;

      &:hover {
        background: #333;
      }
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    .dateChip {
      border-radius: 10px;
      width: 120px;
      height: 26px;
      font-size: 12px;
      color: $text-default;
      background: $secondary-bg;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px auto 0 auto;

      span {
        opacity: 0.5;
      }
    }
  }

  .messageInput {
    margin-top: 20px;
  }
}