.dialogProfile {
  :global(.MuiPaper-root) {
    min-width: 380px;
    background: $orange-1;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 24px;

    .title {
      font-family: $font-medium;
      font-size: 14px;
      color: $text-primary;
    }

    .toolsBlock {
      display: grid;
      grid-template-columns: max-content max-content;
      gap: 2px;
    }
  }

  .body {
    background: $primary-bg;
    padding: 24px;

    .avatarContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .avatar {
        width: 90px;
        height: 90px;

        img {
          width: 64px;
          height: 64px;
        }
      }

      .userInfo {
        margin-top: 14px;
        text-align: center;

        .fio {
          font-family: $font-medium;
        }

        .profession {
          color: $text-secondary;
          font-family: $font-medium;
          margin-top: 2px;
        }
      }
    }

    .infoContainer {
      margin-top: 14px;

      .infoBlock {
        .title {
          font-size: 14px;
          line-height: 125%;
          margin-bottom: 4px;
        }

        .email {
          text-decoration: none;
          color: $orange-1;
        }

        .phone {
          text-decoration: none;
        }

        .empty {
          color: $text-secondary;
        }
      }

      .divider {
        width: 100%;
        background: $text-tr;
        height: 1px;
        margin: 14px 0;
      }
    }
  }
}