.searchInputContainer {
  margin: 0;
  ::placeholder {
    font-size: 12px;
    color: $text-tr;
    opacity: 1;
  }

  :global(.MuiInputBase-root) {
    padding: 4px 8px;
    border: 2px solid $text-tr;
    border-radius: 8px;

    &:global(.Mui-focused) {
      border: 2px solid $orange-2;
    }

    fieldset {
      border: none;
    }
  }

  input {
    padding: 0;
  }

  .close {
    filter: brightness(0.5);
    margin-right: 6px;
    width: 16px;
    height: 16px;
    overflow: hidden;
  }

  .loop {
    margin-right: 6px;
  }
}
